<div class="labseq-container">
    <div class="labseq-info">
      <h1 class="title">The Labseq Sequence</h1>
      <p>A recursive numerical pattern defined by its unique relationship to earlier terms. Unlike better-known sequences like Fibonacci that reference immediate predecessors, Labseq creates its rhythm by reaching further back in time.</p>
      <h4 class="subtitle">Starting values</h4>
      <p class="no-margin"> l(0) = 0 </p>
      <p class="no-margin"> l(<span class="alignment">1</span>) = 1 </p>
      <p class="no-margin"> l(2) = 0 </p>
      <p class="no-margin"> l(3) = 1 </p>
      <h4 class="subtitle">Recursive rule</h4>
      <p style="margin-top: 5px;"> l(n) = l(n-4) + l(n-3)</p>
      <h4 class="subtitle">Sequence progression</h4>
      <p class="numbers"> 0,1,1,2,3,4,5,7...</p>
    </div>
    <div class="labseq-form">
      <app-form style="margin:auto"></app-form>
    </div>
</div>
